export v20PATH=releases/v20/latest
export v21PATH=releases/v21/latest

export GITHUB_TOKEN=`cat ~/.ssh/gh_pat`
export GITHUB_REPOSITORY=BeanCloudServices/iam-keycloak-bcs
export GITHUB_REPOSITORY_OWNER=BeanCloudServices
